{% extends 'default.html' %}
{% load custom_filters %}


{% block title %}
Новости
{% endblock title %}

{% block content %}

  <h1>Все новости</h1>

    <h3>{{ time_now }}</h3>


        <table>
            <tr>
                <td>
                <b>Заголовок</b>
                </td>
                <td>
                    <b>Текст</b>
                </td>
                <td>
                    <b>Категория</b>
                </td>


            </tr>
        {% for post in news %}
            <tr>
                <td>
                    {{ post.header|sor:'badwodrforfemale'|sor:'badwordformale'|sor:'badwordforchild'|sor:'badwordfornonbinaryperson'}}
                </td>
                <td>
                    {{ post.text|truncatechars:50|sor:'badwodrforfemale'|sor:'badwordformale'|sor:'badwordforchild'|sor:'badwordfornonbinaryperson'}}
                </td>
                <td>
                    {{ post.category}}


                            <form method="POST" action="{% url 'subscribers' %}">
                                <input type='hidden' name='category' value='{{ current_category.pk }}'>
                                <button type="submit" class="btn btn-outline-primary" name='user_pk' value="{{ user.pk }}">
                                    {% csrf_token %}
                                    Подписаться
                                </button>
                            </form>

                </td>
            </tr>
        {% endfor %}
        </table>



        {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}




{% endif %}
{% endblock content %}
